<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Image Resizer html</title>

        <link rel="stylesheet" href="./assets/main.css" />
    </head>
    <body>
        <h1 class="flex">Img changer</h1>

        <input type="file" name="image" id="image" accept=".jpeg, .jpg" />

        <div>
            <p>Preview</p>
            <img
                src="https://economictimes.indiatimes.com/thumb/height-450,width-600,imgsize-34182,msid-93429238/international-cat-day-2022-all-you-need-to-know-about-date-significance-history.jpg"
                alt=""
                class="w-full object-contain"
            />
        </div>
    </body>
</html>
