<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="assets/main.css" />
        <script src="js/renderer.js" defer></script>
        <title>Image Resizer</title>
    </head>
    <body class="bg-teal-700">
        <div class="align-center m-auto flex h-screen max-w-xl flex-col justify-center">
            <div class="bg-grey-lighter flex w-full flex-col items-center justify-center">
                <label
                    class="border-blue flex w-64 cursor-pointer flex-col items-center rounded-lg border bg-white px-4 py-7 uppercase tracking-wide text-gray-500 shadow-lg hover:text-teal-800"
                >
                    <img src="./images/logo.svg" width="32" />
                    <span class="mt-2 leading-normal">Select an image to resize</span>
                    <input id="img" type="file" class="hidden" accept="image/*" />
                </label>
            </div>

            <!-- Form -->
            <form id="img-form" class="hidden">
                <div class="mt-6">
                    <label class="m-auto mt-1 block w-80 rounded-md border-gray-300 py-3 text-center text-white shadow-sm">Width</label>
                    <input
                        type="number"
                        name="width"
                        id="width"
                        class="m-auto mt-1 block w-80 rounded-md border-gray-300 p-3 shadow-sm"
                        placeholder="Width"
                    />
                </div>

                <div class="mt-4">
                    <label class="m-auto mt-1 block w-80 rounded-md border-gray-300 py-3 text-center text-white shadow-sm">Height</label>
                    <input
                        type="number"
                        name="height"
                        id="height"
                        class="m-auto mt-1 block w-80 rounded-md border-gray-300 p-3 shadow-sm"
                        placeholder="Height"
                    />
                </div>

                <!-- Button -->
                <div class="mt-6">
                    <button
                        id="submit"
                        type="submit"
                        class="m-auto flex w-80 justify-center rounded-md border border-transparent bg-teal-500 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-teal-900 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                    >
                        Resize
                    </button>
                </div>
            </form>

            <p class="mt-6 text-center font-mono text-lg text-white"><strong>File: </strong><span id="filename"></span></p>
            <p class="mt-2 text-center font-mono text-lg text-white"><strong>Output: </strong><span id="output-path"></span></p>
        </div>
    </body>
</html>
